@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
} /* 1200px */

@media (max-width: 992px) {
  .container {
    width: 720px;
  }
} /* 992 */

@media (max-width: 768px) {
  .container {
    width: 548px;
  }
} /* 768 */

@media (max-width: 576px) {
  .container {
    width: 90%;
    padding: 0 15px;
  }
} /* 576 */

/*---------------работа с IE-----------------*/

.ie9 body {
  background-color: green;
}

/*медизапрос специально для IE. Данные стили применяются только для IE*/

@media screen and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .jsMobile .burger {
    padding-right: 60px;
  }
}
