<div class="breadcrumbs">
    <ul class="breadcrumbs__list">
	    <li class="breadcrumbs__item">
	    	<a href="#" class="breadcrumbs__link"></a>
	    </li>
	    <li class="breadcrumbs__item">
	        <a href="#" class="breadcrumbs__link"></a>
	    </li>
	    <li class="breadcrumbs__item">
	        <a href="#" class="breadcrumbs__link"></a>
	    </li>
    </ul><!--/breadcrumbs__list-->
</div><!--/breadcrumbs-->
  
<div class="pagination">
	<ul class="pagination__list">
		<li class="pagination__item">
	    	<a href="#" class="pagination__link"></a>
	  	</li>
	  	<li class="pagination__item">
	    	<a href="#" class="pagination__link"></a>
	  	</li>
	  	<li class="pagination__item">
	    	<a href="#" class="pagination__link"></a>
	  	</li>
	</ul><!--/pagination__list-->
</div><!--/pagination-->

<button type="button" class="burger">
	<span class="burger__top"></span>
	<span class="burger__middle"></span>
	<span class="burger__bottom"></span>
</button> 

<!--noindex-->
<a href="https://www.facebook.com" rel="nofollow noopener noreferrer"
target="_blank">Facebook/iam</a>
<!--/noindex-->

<div class="error-modal modal-wrapper">
	<div class="error-modal__wrapper">
		<img class="error-modal__img" src="assets/img/modal-window/warning.svg" alt="warining">
		<div class="error-modal__text">
			Произошла ошибка. Попробуйте повторить Ваш запрос.
		</div>
		<button type="button" class="error-modal__btn btn">
			Закрыть
		</button>
	</div><!--/thanks-window__wrapper-->
</div><!--/error-modal-->

<div class="thanks-modal modal-wrapper">
	<div class="thanks-modal__wrapper">
		<div class="thanks-modal__text">
			Спасибо за подписку на новости нашего благотворительного фонда
		</div>
		<button type="button" class="thanks-modal__btn btn">
			Закрыть
		</button>
	</div><!--/thanks-window__wrapper-->
</div><!--/thanks-modal-->

<div class="donut-modal modal-wrapper">
	<div class="donut-modal__wrapper">
		<div class="donut-modal__text">
			Спасибо за Ваш вклад. Вместе мы сделаем наш мир лучше
		</div>
		<button type="button" class="donut-modal__btn btn">
			Закрыть
		</button>
	</div><!--/thanks-window__wrapper-->
</div><!---donut-modal-->